@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');*

{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #3e2817;
    color: white;
    padding: 2rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #2d1e13;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  
  .bar {
    display: flex;
    gap: 30px;
  }
  
  .bar li a {
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .bar li a:hover {
    color: #66b68e;
  }
  
  /* ========== Mobile Menu ========== */
  .mobile-menu-icon {
    display: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
  
  .mobile-menu-icon .icon{
    width: 35px;
    height: 35px;
    background-color: transparent;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
  }
  
  .mobile-menu{
    display: none;
    flex-direction: column;
    gap: 10px;
  }
  
  @media screen and (max-width: 768px){
    .bar{
      display: none;
    }
  
    .mobile-menu-icon{
      display: block;
    }
  
    .mobile-menu-icon button{
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  
    .mobile-menu ul{
      display:flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
    }
  
    .mobile-menu .nav-item{
      display: block;
      padding-top: 1.2rem;
    }
  
    .open{
      display: block;
    }
  }

  @media screen and (max-width: 730px) {
    body {
      padding: 1rem;
    }
  
    .container {
      padding: 1rem;
    }
  
    input, textarea, select, button {
      font-size: 1rem;
    }
  
    table, th, td {
      font-size: 0.9rem;
      padding: 0.5rem;
    }
  }
  
  
  .container {
    background: #4a3b2a;
    padding: 2rem;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  input, textarea, select, button {
    padding: 0.8rem;
    border-radius: 5px;
    border: none;
    width: 100%;
    box-sizing: border-box;

  }
  
  button {
    background-color: #66b68e;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4da176;
  }
  
  .card, table {
    background: #59412c;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 0.8rem;
    border-bottom: 1px solid #3e2817;
  }

  .card table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }